body {
  background-color: #121212;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

#app-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
